body {
	background-color: #00F0B5;
	color: #1E1E24;
	font-family: 'Montserrat';
}

.my-name {
	color: #F15025;
	font-weight: bold;
}

.front-icon {
	width: 10%;
}

.front-down-puller {
	width: 15%;
	color: #7494EA;
}

.with-background {
	background-image: url("../imgs/background.jpg");
	padding-bottom: 10%;
}

.with-background h1 {
	font-size: 4rem;
	font-weight: bold;
}

.with-background p {
	font-weight: bold;
	background-color: rgba(116, 148, 234, 0.6);
}

/* Font declarations */

@font-face {
	font-family: "Montserrat";
	src: url("./../lib/Montserrat/Montserrat-VariableFont_wght.ttf") format("opentype");
}