body{
	background-color: white;
}

h1{
	background: -webkit-linear-gradient(cyan, magenta);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-size: 7rem;
	margin: 15% 0 2% 0;
	/*font-family: 'Rock Salt', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	visibility: hidden;
}

.invert{
	background: -webkit-linear-gradient(magenta, cyan);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


h2{
	text-align: center;
	visibility: hidden;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 5%;
	color: grey;
}

.subs{
	margin-bottom: 2%;
}

.btn{
	visibility: hidden;
	background-color: transparent;
	border-color: cyan;
	z-index: 100;
	margin-right: 0.5%;
}

.buttons{
	text-align: center;
}

a{
	text-decoration: none;
	color: magenta;
}
a:hover{
	text-decoration: none;
	color: cyan;
}

