body{
	overflow-x: hidden;
}

img{
	width: 87.5%;
	min-width: 320px
}

p{
	position: absolute;
	top: 5%;
	left: 5%;
	visibility: hidden;
	font-family: Montserrat, sans-serif;
	font-weight: 100;
	font-size: 2rem;
	color:white;
	max-width: 75%
}

span{
	font-weight: 500;
}

.fa-plus{
	margin-left: 85%;
	margin-top: 20%;
	font-size: 4rem;
}

@media screen and (max-width: 1024px){
	.row{
		margin-top: 10%;
	}
	img{
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 450px){
	.row{
		margin-top: 20%;
	}
	.move_row{
		margin-top: 40% !important;	
	}
}
