img{
	width: 87.5%;
	height: auto;
}

p{
	position: absolute;
	top: 5%;
	left: 5%;
	visibility: hidden;
	font-family: Montserrat, sans-serif;
	font-weight: 100;
	font-size: 2rem;
	color:white;
	max-width: 75%
}

span{
	font-weight: 500;
}

i{
	margin-left: 85%;
	margin-top: 20%;
	font-size: 4rem;
}