body{
	overflow-x: hidden;
	overflow-y: hidden;
}

img{
	height: 15%;
	width: auto;
	border-radius: 5%;
	margin-top: 25%;
	margin-left: 25%;
}

p{
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	color: grey;
	text-align: center;
	margin-left: 10%;
}
p:first-of-type{
	margin-top: 25%;
}

.invert{
	background: -webkit-linear-gradient(magenta, cyan);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


