body{
	overflow-x: hidden;
	overflow-y: hidden;
}

h3{
	margin: 10% 0 10% 20%;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-weight: 100;
	font-size: 4rem;
}

.row{
	padding-left: 12.5%;
}

i{
	background: -webkit-linear-gradient(cyan, magenta);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 7.5rem;
}
i:hover{
	background: -webkit-linear-gradient(magenta, cyan);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 7.5rem;
}

h4{
	margin: 5% 0 10% 20%;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-weight: 100;
	font-size: 3rem;
	visibility: hidden;
}

@media screen and (max-width: 1024px){
	h3{
		margin: 10% 0 10% 0;
	}
	h4{
		display: none;
	}
}

@media screen and (max-width: 850px){
	h3{
		margin-top: 15%;
	}
	.row{
		padding-left: 0;
	}
}

@media screen and (max-height: 480px){
	body{
		overflow-y: visible;
	}
}